@model Projectarium.Domain.Entities.Project

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link rel="stylesheet" href="~/css/ProjectManager.css" />

<hr />

@Html.AntiForgeryToken()
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input asp-for="Id" type="hidden" id="ProjectId" />
<p class="BlockTitle">Название проекта:</p>
<input asp-for="Title" class="InputTitleStyle" />
<span asp-validation-for="Title" class="text-danger"></span>



<p class="BlockTitle">Описание проекта:</p>
<div><textarea asp-for="AboutProject" class="TextAreaAboutProject" id="TextAreaAboutProject"></textarea></div>
<span asp-validation-for="AboutProject" class="text-danger"></span>

<div class="VacancyTitleContainer VacancyMainTitleContainer">
    <div class="NewItemButton BigButtonNewItem "></div>
    <div class="BlockTitle VacancyTitle">Вакансии:</div>
</div>


<div class="VacancyTitleContainer  VacancyMainTitleContainer">
    <input type="text" id="TechTitle" class="NewVacancyInput" /><div class="AddItemButton" onclick="NewVac()">Добавить</div>
</div>

<div id="Vac" class="VacanciesContainer">
    @foreach (var item in Model.Vacancies)
    {
        @await Html.PartialAsync("~/Views/Shared/ProjectManagerPartialViews/EditPartialViews/EditVacancyView.cshtml", item);
    }
</div>

<div class="VacancyTitleContainer VacancyMainTitleContainer">
    <div class="NewItemButton BigButtonNewItem "></div>
    <div class="BlockTitle VacancyTitle">Ссылки:</div>
</div>


<div class="VacancyTitleContainer  VacancyMainTitleContainer">
    <input type="text" id="LinkText" class="NewLinkInput" /><div class="AddItemButton" onclick="AddLink()">Добавить</div>
</div>

<div id="Links" class="LinksContainer">
    @foreach (var link in Model.Links)
    {
        @await Html.PartialAsync("~/Views/Shared/ProjectManagerPartialViews/EditPartialViews/EditLinkView.cshtml", link);
    }
</div>







@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/ProjectManager.js" type="text/javascript" charset="utf-8"></script>
}

<script type="text/javascript">
    $(document).ready(
        function () {
            $('.TextAreaAboutProject').focusout(function () {

                var url = '/ProjectManager/SaveProjectDescription';
                let projectDescription = document.getElementById('TextAreaAboutProject').value;
                let projectId = document.getElementById('ProjectId').value;
                let item = {
                    Id: projectId,
                    Description: projectDescription
                };
                $.ajax(url, {
                    method: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify(item),
                    traditional: true,

                    success: function (data) {

                    }
                });


            })
        });


</script>
<div>
    <a asp-action="Index">К списку проектов</a>
</div>

