@model Projectarium.Domain.Entities.Project

@{
    ViewData["Title"] = "Просмотр проекта";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link rel="stylesheet" href="~/css/ProjectManager.css" />
<link rel="stylesheet" href="~/css/Main.css" />

<hr />

@Html.AntiForgeryToken()
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input asp-for="Id" type="hidden" id="ProjectId" />

<p class="ProjectTitleBlock">@Model.Title</p>
<span asp-validation-for="Title" class="text-danger"></span>



<p class="BlockTitle VacancyTitleContainer VacancyMainTitleContainer">О проектe:</p>
<p class="AboutProjectTextBlock" id="TextAreaAboutProject">@Model.AboutProject</p>
<span asp-validation-for="AboutProject" class="text-danger"></span>

<div class="VacancyTitleContainer VacancyMainTitleContainer">

    <div class="BlockTitle VacancyTitle">Вакансии:</div>
</div>




@if (Model.Vacancies != null)
{
    if (Model.Vacancies.Count != 0)
    {<div id="Vac" class="VacanciesContainer">
            @foreach (var item in Model.Vacancies)
            {
                @await Html.PartialAsync("~/Views/Shared/ProjectManagerPartialViews/PreviewPartialViews/VacancyView.cshtml", item);
            }


        </div>


    }
    else
    {
        <p class="NoElementsText ">Вакансий нет</p>

    }
}
else
{
    <p class="ProjectTitleBlock VacancyTitleContainer ">Вакансий нет</p>
}

<div class="VacancyTitleContainer VacancyMainTitleContainer">

    <div class="BlockTitle VacancyTitle">Связаться:</div>
</div>





@if (Model.Links != null)
{
    if (Model.Links.Count != 0)
    {<div id="Links" class="LinksContainer">

            @foreach (var link in Model.Links)
            {
                @await Html.PartialAsync("~/Views/Shared/ProjectManagerPartialViews/PreviewPartialViews/LinkView.cshtml", link);
            }
        </div>
    }
    else
    {
        <p class="NoElementsText ">Ссылок нет</p>

    }

}
else
{
    <p class="ProjectTitleBlock VacancyTitleContainer ">Ссылок нет</p>
}
<div class="modal fade" id="CreateRequestModal" role="dialog" data-url='@Url.Action("CreateRequestPartial","Home")'></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/ProjectManager.js" type="text/javascript" charset="utf-8"></script>
}

<div>
    <a asp-action="Index">К списку проектов</a>
</div>

