@model IEnumerable<Projectarium.Domain.Entities.Request>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>Список запросов</h1>

<table class="table">
    <thead>
        <tr>
           
            <th>
             Вакансия
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Vacancy.Title)
            </td>
            <td>
        
                <a asp-action="Details" asp-route-id="@item.Id">О запросе</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
