
<div class="CreateProjectModalContainer">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class=" modal-dialog ">
            <div class="CreateProjectModal">
                <div class="modal-content modalContentStyle">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModal-label">Создание проекта</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>

                    </div>
                    <div class="modal-body">
                        <div class="form-group FlexColumn">
                            <input type="text" name="text" id="ProjectTitle" class="ProjectTitleInput"  placeholder="Введите название проекта" value="" />
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" id="btnOk" data-dismiss="modal" onclick="CreateProject()">Ок</button>
                            <button class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="">Cancel</button>


                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>
</div>
