@model Projectarium.Domain.Entities.Vacancy
<div id="Vac">
    <div class="VacancyContainer FlexColumn">
            <div class="SecondaryTitle">@Model.Title</div>

            <div class="VacancyTitleContainer">
                <div class="NewItemButton SmallButtonNewItem"></div>
                <div class="SecondaryTitle">Технологии:</div>
            </div>
            <div class="NewTechInputContainer ">
                <input type="text" id="TechTitle" class="NewTechInput" /><button class="AddItemButton">Добавить</button>
            </div>
        </div>


</div>