.VacancyBlockTitle {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.VacancyTitle {
    margin-top: 0px;
    margin-left: 20px;
}
.VacanciesContainer{
   display:flex;
  margin:0 auto;
   flex-flow:row wrap;
   margin-left:70px;

}

.VacancyContainer {
    border: 1px solid;
    height: 400px;
    width: 400px;
    padding: 10px;
    margin-top:20px;
    margin-bottom:10px;
    overflow:scroll;
    margin-left:10px;
    margin-right:10px;
    position:relative;
}
    .VacancyContainer::-webkit-scrollbar {
        width: 0px;
        background: rgba(255, 255, 255, 0.0);
    }
    .CreateProjectModalContainer {
    width: 100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CreateProjectModal {
    height: 200px;
    width: 500px;
    border: 1px solid;

   margin-top:30vh;
   background-color:white;
}
.modalContentStyle{
    background-color:white;
    border:none;
}
.ProjectTitleInput
{
    width:90%;
    height:30px;
    font-size:24px;

}
.VacancyTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}
.VacancyMainTitleContainer
{
    width:80%;
}
.SecondaryTitle {
    font-style: normal;
    font-weight: 600;
    margin-top:10px;
    font-size: 16px;
}

.NewTechInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    justify-content:center;
}

.SecondaryTitleInput {
    height: 24px;
    width: 300px;
    font-size: 18px;
    border: 1px solid;

    text-align: center;
}

.SmallButtonNewItem {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.BigButtonNewItem {
    height: 30px;
    width: 30px;
}

.NewItemButton {
    border: 1px solid;
    background-image: url(../Content/icons/PlusButton.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}
.DeleteSkillButton {
    height:20px;
    width:20px;
    margin-right:10px;
    border: 1px solid;
    background-image: url(../Content/icons/Delete.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}
.SkillsContainer{
    width:100%;
    margin-top:10px;
}

.SkillContainer {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    align-items:center;
    width: 100%;
}
.NewTechInput {
    border: 1px solid;
    width: 200px;
    height: 30px;
    font-size: 18px;
}

.AddItemButton {
    border: 1px solid;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    width: 100px;
    height: 30px;
    margin-left: 20px;
}
.NewVacancyInput {
    border: 1px solid;
    width: 200px;
    height: 30px;
    font-size: 22px;
}
.AboutVacancyTextArea {
    width: 300px;
    height: 100px;
    border: 1px solid;
    font-style: normal;
    font-weight: 300;
    word-wrap: break-word;
    margin-top: 20px;
}
.DeleteVacancyContainer {
   display:flex;
   flex-direction:row;
   justify-content:flex-end;
  width:100%;
}
.Link {
    border: 1px solid;
    padding: 3px 5px 7px 5px;
    height: 30px;
    font-size: 18px;
    align-content: center;
}
.LinkContainer {
    display: flex;
    align-content: center;
    margin-bottom: 10px;
    margin-right: 10px;
}
.LinksContainer {
    width: 80%;
    display: flex;
    margin-bottom: 50px;
  
    margin-top: 30px;
}
.LinkText
{
    color:black;
}

.DeleteLinkButtonContainer {
    height: 30px;
    width: 30px;
 
    border: 1px solid;
    border-left: 0px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:white;
    align-content:center;
}
.DeleteLinkButton {
    height: 20px;
    width: 20px;
    background-image: url(../Content/icons/Delete.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;

}
.NoElementsText {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    width: 300px;
    text-align: center
}
.AboutProjectTextBlock {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    width: 50%;
    word-wrap:break-word;
}
.ProjectTitleBlock {
    font-style: normal;
    font-weight: 500;
    font-size:40px;
    width: 300px;
    text-align: center
}
.AboutVacancyTextBlock {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    word-wrap: break-word;
  
    width: 300px;
    margin-top:10px;
}
.RequestButton {
    
    width: 400px;
    height: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align:center;
    border:1px solid;
    background-color:white;
    margin-left:10px;
}
.SaveVacancyDescriptionButton
{
    margin-top:30px;
}