@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body 
{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    margin: 3px;

}
.Header
{
    width:100%;
    height:60px;
    border:1px;
    border-style:solid;
    background-color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:5px;
}
.HeaderBar {
    display: flex;
    justify-content: space-between;
    margin-left:100px;
}
.MenuItem
{
    margin-left:30px;
}
.UserIcon {
    background-image: url(../Content/icons/AccountIcon.png);
    height: 42px;
    width: 42px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    margin-right: 20px;
}
.MainContainer {
    width: 75%;
    padding: 15px;
    border-left: 1px solid;
    border-right: 1px solid;
    align-content: center;
min-height:100%;

}
.BodyContainer
{display:flex;
 width:100%;
    min-height:100%;
}

.FlexColumn {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.Title {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    margin-top: 30px;
    text-align:center;
}
.CreateProjectButtonBig {
    border-color: black;
    margin-top: 30vh;
    border: 1px solid;
    padding: 50px;
    font-size: 50px;
}
.CreateButtonSmall
{
    border-color: black;
    border: 1px solid;
    padding: 10px;  
    font-size: 20px;
    margin-top:30px;
    margin-bottom:30px;
    margin-left:40px;
    width:250px;
    text-align:center;
    
}
.CreateButtonText 
{
        font-style: normal;
        font-weight: 300;
        text-decoration: none;
        text-align: center;
        color: black;
 }

.BlockTitle 
{
    font-style: normal;
    font-weight: 300;
    font-size:26px;
    margin-top:30px;
}
.InputTitleStyle {
    height: 40px;
    width: 500px;
    font-size: 30px;
    text-align: center;
    border: 1px solid;
}
.TextAreaAboutProject {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid;
    width:800px;
    height:400px;
    padding:10px;
}
.ButtonContainer
{
    width:100%;
}
