<!DOCTYPE html>

<html class="BodyContainer">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/UserHeader.css" />
    <link rel="stylesheet" href="~/css/Main.css" />
    <link rel="stylesheet" href="~/css/UserProfileStyles.css" />
</head>

<body class="FlexColumn BodyContainer">
    <header class="Header">
        <div class="HeaderBar">
            <div class="MenuItem">
                <a asp-controller="Home" asp-action="Index">Главная</a>
            </div><div class="MenuItem">
                <a asp-controller="ProjectManager" asp-action="Index">Мои проекты</a>
            </div><div class="MenuItem">
                <a href="/Requests/Index">Мои запросы</a>
            </div>
            <div>
                <div class="MenuItem">
                    <a href="/UserProfile/Index">Профиль </a>
                </div>
            </div>
        </div>
        <div>

            <partial name="_LoginPartial" />
        </div>
    </header>
    <div class="MainContainer FlexColumn ">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ProjectManager.js" asp-append-version="true"></script>
    <script src="~/js/Home.js" asp-append-version="true"></script>
    <script src="~/js/UserProfile.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
