<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/UserHeader.css" />
</head>

<body class="FlexColumn ">
    <header class="Header">
        <div class="HeaderBar"><div class="MenuItem">Главная</div><div class="MenuItem">Мои проекты</div></div>
        <div class="UserIcon"></div>
    </header>
    <div class="MainContainer FlexColumn ">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ProjectManager.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
