@model Projectarium.Domain.Entities.Link
<div>
    <div class="LinkContainer">
        <div class="Link">
            <a href="@Model.LinkText" class="LinkText">@Model.Mask</a>
        </div>
    </div>
</div>